.beautiful-scroll {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        width: 26px;
        border-radius: 13px;
        background-clip: padding-box;
        border: 10px solid transparent;
        color: rgba($color-grey-light, 0.8);
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px;
    }
}
