.spinner {
    width: 56px;
    height: 56px;
    border: 11px #474bff double;
    border-left-style: solid;
    border-radius: 50%;
    animation: spinner-5ib1d7 0.75s infinite linear;
}

@keyframes spinner-5ib1d7 {
    to {
        transform: rotate(360deg);
    }
}
