.actions {
    height: 4rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color-grey-light;

    &__burgerIco {
        width: 2rem;
        height: 2rem;
        fill: $color-grey-dark-1;
    }

    &__searchIco {
        position: absolute;
        top: 2rem;
        right: 1.75rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-grey-light;
    }

    &__form {
        flex: 1;
        display: flex;
    }

    &__search {
        flex: 1;
        height: 3rem;
        padding-left: 1rem;
        border-radius: 0.7rem;
        border: 1px solid $color-grey-light;
    }
}
