.chatInput {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__emoji,
    &__attachment,
    &__microphone {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-grey-dark-1;
    }

    &__emoji {
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    &__microphone {
        margin-right: 10rem;
        animation: recordPulse 2s ease 0s infinite normal none;
    }

    @keyframes recordPulse {
        0% {
            animation-timing-function: ease-out;
            transform: scale(1);
            transform-origin: center center;
        }

        10% {
            animation-timing-function: ease-in;
            transform: scale(0.91);
        }

        17% {
            animation-timing-function: ease-out;
            transform: scale(0.98);
        }

        33% {
            animation-timing-function: ease-in;
            transform: scale(0.87);
        }

        45% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }

    &__form {
        flex: 1;
        height: 80%;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 100%;
        max-height: 5rem;
        border: none;
        background-color: inherit;
        color: inherit;
        caret-color: $color-blue;
        resize: none;

        &:focus {
            outline-width: 0;
        }
    }

    &__blink {
        margin-left: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1rem;
        border-radius: 100%;
        background-color: red;
        animation: blinkAnimation 2s ease 0s infinite normal forwards;
    }
}

@keyframes blinkAnimation {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
