.chatHeader {
    width: 100%;
    height: 6rem;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    // background-color: green;

    &__left {
        flex: 1;
        margin-left: 1.5rem;
        // background-color: red;
        @media (max-width: $small) {
            margin: 0;
        }
    }

    &__right {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    &__name {
        font-weight: 600;
    }

    &__status {
        color: $color-blue;
    }

    &__searchIco {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
    }

    &__ellipsisIco {
        width: 2rem;
        height: 2rem;
    }

    &__back {
        opacity: 0;
        display: none !important;

        @media (max-width: $small) {
            opacity: 1;
            display: inline-block !important;
            margin: 0 0.5rem;
        }
    }
}
