.doubleTick {
    display: flex;
    position: relative;
    width: 1.5rem;
    height: 1.8rem;
    margin-left: .4rem;

    &__firstTick {
        position: absolute;
        top: 0;
        left: -.6rem;
    }

    &__secondTick {
        position: absolute;
        top: 0;
        left: 0;
    }
}