.text {
    &--me,
    &--other {
        max-width: 60%;
        margin: 0 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media (max-width: $mini) {
            max-width: 85%;
        }
        padding: 1rem;
    }

    &__container {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__name {
        font-size: 1.2rem;
        color: $color-blue;
        font-weight: 600;
    }

    &__content {
        font-size: 1.5rem;
        flex: 1 0 0;
        min-width: 0;
        white-space: pre-wrap; /* Webkit */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -pre-wrap; /* Opera <7 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* IE */
    }

    &__info {
        display: flex;
        margin-left: auto;
        //margin-right: .5rem;
        // margin-bottom: 0.5rem;
        fill: $color-green-dark;
    }

    &__date {
        &--me,
        &--other {
            flex: 0 0 auto;
            margin-right: 0.5rem;
        }

        &--me {
            color: $color-green-dark;
        }

        &--other {
            color: $color-grey-dark-1;
        }
        //align-items: flex-start;
    }

    &--other {
        margin-left: 1.5rem;
        border-bottom-left-radius: 0;
        background-color: white;
    }

    &--me {
        // margin-right: 1.5rem;
        border-bottom-right-radius: 0;
        margin-left: auto;
        background-color: $color-green;
    }

    &__attachedImg {
        width: 100%;
    }
}
