*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--color-white);
}

body {
    background-color: #fafafa;
}

$color-blue: #0088cc;
$color-grey-dark-1: #8e8e8e;
$color-grey-dark-2: #9c9c9c;
$color-grey-light: #e3e3e3;
$color-grey-light-1: #fafafa;
$color-white: #fff;
$color-black: #363636;
$color-black-dark: #000;
$color-green: #f0ffde;
$color-green-dark: #00853A;
//$color-green: #00FF6F;

:root {

    --color-grey-default: #fbfbfb;
    --color-grey-light: #e3e3e3;
    --color-grey-dark-1: #8e8e8e;
    
    --main-size: 80rem;
    --header-height: 6rem;
}